MYSQL_ROOT_PASSWORD=CHANGE_ME
REDIS_PASSWORD=CHANGE_ME
RABBITMQ_USER=iam
RABBITMQ_PASSWORD=CHANGE_ME
NACOS_DB_PASSWORD=CHANGE_ME
MINIO_ROOT_USER=iam
MINIO_ROOT_PASSWORD=CHANGE_ME
SEATA_DB_PASSWORD=CHANGE_ME
